<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | reject: "path", nil | map: "path" -%}
	{%- assign filtered_paths = "" | split: "" -%}
	{%- for p in default_paths -%}
	  {%- assign page = site.pages | where: "path", p | first -%}
	  {%- unless page.url contains "/tags/" or page.nav_exclude -%}
		{%- assign filtered_paths = filtered_paths | push: p -%}
	  {%- endunless -%}
	{%- endfor -%}
	{%- assign page_paths = site.minima.nav_pages | default: filtered_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- unless page_titles == empty %}
      <nav class="site-nav">
        {% include nav-items.html paths = page_paths %}
      </nav>
    {%- endunless %}
  </div>
</header>