---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <!-- Tag Cloud -->
  {%- assign all_featured = site.posts | where: "featured", true -%}
  {%- assign featured_posts = "" | split: "" -%}
  {%- for post in all_featured -%}
    {%- unless post.draft == true -%}
      {%- assign featured_posts = featured_posts | push: post -%}
    {%- endunless -%}
  {%- endfor -%}
  {%- include tag-cloud.html posts=featured_posts -%}

  {% assign all_paged = site.posts | where: "featured", true %}
  {% assign posts = "" | split: "" %}
  {% for post in all_paged %}
    {% unless post.draft == true %}
      {% assign posts = posts | push: post %}
    {% endunless %}
  {% endfor %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- include pagination.html per_page=10 -%}

  {%- endif -%}

</div>
